.cardHolderBorder {
    border: 2px solid rgb(244, 239, 239);
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: background-color 0.3s ease;
}

.cardHolderBorder:hover {
    background-color: #a6a2a2;
}

.deleteButton {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleteButton:hover {
    background-color: #ff1a1a;
}

.cardHolderBorder:hover .deleteButton {
    display: block;
}


.updateButton {
    display: none;
    position: absolute;
    top: 10px;
    right: 80px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.updateButton:hover {
    background-color: #ff1a1a;
}

.cardHolderBorder:hover .updateButton {
    display: block;
}

.imageSize {
    width: 20vw;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 2em;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Adjust spacing between items */
    width: 100%;
    padding: 10px; /* Add padding to create space */
}

.imageContainer {
    margin-right: 20px; /* Adjust margin as needed */
}

.detailsDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
    font-weight: bolder;
    flex: 1; /* Takes remaining space */
}

.detailsDisplay h2 {
    margin: 0;
    font-size: 3em;
    color: #333;
}

.detailsDisplay p {
    margin: 10px 0;
    font-size: 2em;
    color: #666;
}


.toggleButton {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggleButton:hover {
    background-color: #45a049;
  }
  